# MacOS
.DS_Store

# Windows
Thumbs.db

# Ignore build files
/build
/captures
.externalNativeBuild

# Ignore IDEA-specific files
*.iml

# Ignore local-specific settings
local.properties
.classpath
.project
.settings
.vscode
.gradle
.idea


# Ignore SQLite3 databases
*.sqlite3

